.Header-background {
  /* background: #22d64f; */
  padding: 50px;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;  
}

.Header-main{
  /* margin-bottom: 2em; */
  margin-left: -200px;
  margin-bottom: 3em;
}


.Header-Benefit{
  width: 30%;
  display: inline-block;
  margin-right: 1%;
  text-align: left;
  box-sizing: border-box;
  overflow: hidden;
}
.Header-Benefit div:not(.Header-Benefit-content){
  padding: 0px !important;
  
}
.Header-Benefit-image{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 30%;
  max-width: 30%;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms--flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: .5rem;
  padding-left: .5rem;
  
}
.Header-Benefit-image img{
  max-width: 100%;
  max-height: 100%;
}
.Header-Benefit-content{
  flex-basis: 60%;
  max-width: 60%;
  padding-top:10px !important;
  padding-left:10px !important;
  padding-right:10px !important;
  padding-bottom:10px !important;
}
.titulo-primary{
    
  
}
.Header-ilustration{
  position: absolute;
  z-index: 0;
  top:-40px;
  height: 200px;
}

.container{
  width: 80%;
  margin: 0 auto;
}
.cards-img {
  max-width: 100%;
  width: 60px;
  padding: 20px 25px !important;
  
}
.veggiez-pictures-favs{
 background-size: cover;
 background-position: center;
 max-height: 320px;
 height: 100%;
 /* max-width: 100px;
 width: 100%; */
 display: inline-block;

}

/*  tamaño de cards veggiez */
.cards-veg{
  /* display: inline-block;
  height: 520px; */
  /* width: 540px; */
  overflow: hidden;
}


.fade-scale-enter {
  opacity: 0.01;
  transform: scale(0);
}

.fade-scale-enter.fade-scale-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.fade-scale-exit {
  opacity: 1;
  transform: scale(1);
}

.fade-scale-exit.fade-scale-exit-active {
  opacity: 0;
  transform: scale(0);
  transition: all 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
  
}
